//  index

.pindex1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(250, 247, 244);
    background-color: rgba(8, 7, 7, 0.781);
}

// contacto
.fondocont8{
    background-image: url(https://img.freepik.com/free-vector/technology-background-abstract-style_23-2147826008.jpg?w=740&t=st=1664653090~exp=1664653690~hmac=b22b6c150c3da7d16fa912c69823df04eb129af8093f31618ee18e7a7e9b0a36);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}

.colorcontacto{
    
    
    .tabla{
        .bordesnegros{
           position: relative;
           text-align: center;
           .fontscont{
            font-size: 25px;
            font-family: $fontscont;
            color: $articlefontscont;
           }
            
            
        }
    }
}

.condiciones{
    position: relative;
    text-align: center;
    padding: 10px;
    .terminos{
        font-family: $terminosfontfamily;
        color: $articleterminos;
    }
}

// formas de pago
.fdepago{
    background-image: url(https://img.freepik.com/free-vector/abstract-background-with-shiny-circuits_23-2147606467.jpg?w=740&t=st=1664571205~exp=1664571805~hmac=d79b279551700c0349c1c8c15874789f4b097d252a91c242e77efafa7ce0545f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    
}


.fdp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    
    .encerrar{
        text-align: center;


       
        
        .tarjeta{
            width: 200px;
            height: 200px;
            border-radius: 40px;
          
        }
      }
    }

    .letrafdp{
        font-family: $letrafdpfontfamily;
        color: $letrafdparticle;
        background-color: rgba(0, 0, 0, 0.945);
        border-radius: 40px;
        
    }

    .pagar{
        color: beige;
        font-family: Georgia, 'Times New Roman', Times, serif;
       
        
    }
    .pagar:hover{
        color: rgb(226, 15, 15);
        
    }
    
    
        


    // formas de envios
    .colorfe{
        background-image: url(https://img.freepik.com/free-photo/young-manual-worker-unloading-cardboard-boxes-from-delivery-van_637285-2256.jpg?w=740&t=st=1664573434~exp=1664574034~hmac=2aab11330c54f02e5b02d4fae0efc547de0e71cac0cf8c831de9b92ca64d8dcf);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
    }

    .flexfde{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px;
        
       }

.imgfde{
    
   width: 300px;
   height: 300px;
   border-radius: 100px;
   transition: all 1s ease-in;
        
        
}


.imgfde:hover{
    width: 330px;
    height: 330px;

} 

.divfde{
    display: flex;
    flex-direction: column;
}
.lboton{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lboton:hover{
    color: rgb(218, 13, 13);
}

.botonfde{
    border-radius: 50px;
}



