//  tienda

.bgcentrar{
    background-image: $bgcentrar;
    padding: 30px;
}

.centrar{
    text-align: center;
    color: $centrar;
    font-size: $centrarfontsize;
    font-family: $centrarfontfamily;
}


.button{
    text-align: center;
    font-family: $botonfontfamily;
    
}

.imgt{
    width: 90%;
    height: 50%;
    padding: 20px;
    
    border-radius: 40px;
    
}

.fondoimg{
    text-align: center;
    background-image: $fondoimg;
    
}

// formas de pago

.letraaside{
    font-size: 20px;
    font-family: $letraaside;
    color: $letraaside;
    text-align: center;
    padding: 30px;
}

// formas de envios


.pdeenvios{
    font-family: $pdeenvios;
    text-align: center;
    .rojofm{
        color: $rojofm;
        font-size: $rojofm;
    }
   }




