//  tienda

.bgcentrar{
    background-image: linear-gradient( rgb(15, 15, 90),rgb(31, 39, 75),rgb(237, 232, 232));
    padding: 30px;
}

.centrar{
    text-align: center;
    color: rgb(241, 241, 238);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.button{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.imgt{
    width: 90%;
    height: 50%;
    padding: 20px;
    
    border-radius: 40px;
    
}

.fondoimg{
    text-align: center;
    background-image:linear-gradient(to bottom, rgb(73, 71, 71),rgb(212, 200, 200),rgb(77, 77, 114),rgb(124, 124, 74));
    
}

// formas de pago

.letraaside{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 30px;
}

// formas de envios


.pdeenvios{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    .rojofm{
        color: rgb(202, 11, 11);
        font-size: 20px;
    }
   }




