//  tienda

.bgcentrar{
    background-image: $bgcentrar;
    padding: 30px;
}

.centrar{
    text-align: center;
    color: $centrar;
    font-size: $centrarfontsize;
    font-family: $centrarfontfamily;
}


.button{
    text-align: center;
    font-family: $botonfontfamily;
    
}



// formas de pago
.asidefdp{
    background-color: rgba(7, 6, 6, 0.842);
}

.letraaside{
    font-size: 20px;
    font-family: $letraaside;
    color: aliceblue;
    text-align: center;
    padding: 30px;
}

// formas de envios


.pdeenvios{
    background-color: rgba(14, 13, 13, 0.945);
    color: rgb(245, 248, 250);
    font-family: $pdeenvios;
    text-align: center;
    .rojofm{
        color: rgb(233, 22, 22);
        
        font-size: $rojofm;
    }
   }




