// header todos los html

$colorheadertodosloshtml:linear-gradient( to top, rgb(54, 53, 53),rgb(14, 13, 13),rgb(36, 36, 35),rgb(3, 27, 3));


$letrah1todosloshtml: rgb(250, 248, 248);

$letranavtodosloshtml:  rgb(253, 252, 252);

$colorhovertodosloshtml: rgb(231, 15, 15) ;

// tienda aside

$bgcentrar: linear-gradient( rgb(15, 15, 90),rgb(31, 39, 75),rgb(237, 232, 232)) ;

$centrar: rgb(241, 241, 238);

$fondoimg: linear-gradient(to bottom, rgb(73, 71, 71),rgb(212, 200, 200),rgb(77, 77, 114),rgb(124, 124, 74));


// formas de pago

$letrafdparticle: rgb(7, 7, 7) ;

$letraaside: rgb(7, 7, 7); 


// formas de envios

$rojofm:  rgb(202, 11, 11);


// contacto

$colorarticle: linear-gradient(to bottom, rgb(179, 178, 182),rgb(104, 121, 106),rgb(118, 118, 148),rgba(158, 157, 223, 0.966)) ;

$articleterminos: rgb(7, 7, 7);

$articlefontscont:rgb(8, 8, 8) ;

// footer todos los html

$colorhover:  rgb(243, 13, 13);











