// header todos los html

$colorheadertodosloshtml:linear-gradient( to bottom, rgb(78, 116, 173),rgb(119, 146, 158),rgb(72, 121, 121),rgb(170, 195, 219));


$letrah1todosloshtml: rgb(14, 13, 13);

$letranavtodosloshtml:  rgb(17, 16, 16);

$colorhovertodosloshtml: rgb(231, 15, 15) ;

// tienda aside

$bgcentrar: linear-gradient( rgb(15, 15, 90),rgb(31, 39, 75),rgb(237, 232, 232)) ;

$centrar: rgb(241, 241, 238);

$fondoimg: linear-gradient(to bottom, rgb(73, 71, 71),rgb(212, 200, 200),rgb(77, 77, 114),rgb(124, 124, 74));


// formas de pago

$letrafdparticle: rgb(250, 246, 246) ;







// contacto



$articleterminos: rgb(7, 7, 7);

$articlefontscont:rgb(8, 8, 8) ;

// footer todos los html

$colorhover:  rgb(172, 7, 7);











