// header todos los html

$colorheadertodosloshtml:linear-gradient( to top, rgb(180, 176, 176),rgb(207, 163, 163),rgb(245, 245, 200),rgb(227, 231, 227));


$letrah1todosloshtml: rgb(14, 13, 13);

$letranavtodosloshtml:  rgb(17, 16, 16);

$colorhovertodosloshtml: rgb(231, 15, 15) ;

// tienda aside

$bgcentrar: linear-gradient( rgb(15, 15, 90),rgb(31, 39, 75),rgb(237, 232, 232)) ;

$centrar: rgb(241, 241, 238);

$fondoimg: linear-gradient(to bottom, rgb(73, 71, 71),rgb(212, 200, 200),rgb(77, 77, 114),rgb(124, 124, 74));


// formas de pago

$letrafdparticle: rgb(250, 246, 246) ;







// contacto

$colorarticle: linear-gradient(to bottom, rgb(179, 178, 182),rgb(104, 121, 106),rgb(118, 118, 148),rgba(158, 157, 223, 0.966)) ;

$articleterminos: rgb(7, 7, 7);

$articlefontscont:rgb(8, 8, 8) ;

// footer todos los html

$colorhover:  rgb(172, 7, 7);











