// header todos los html

$letrah1: Georgia, 'Times New Roman', Times, serif;

$letranav: Georgia, 'Times New Roman', Times, serif;

// index main


// tienda aside

$centrarfontsize: 20px;

$centrarfontfamily: Georgia, 'Times New Roman', Times, serif;

$botonfontfamily: Georgia, 'Times New Roman', Times, serif;

// formas de pago
// article

$letrafdpfontfamily: Georgia, 'Times New Roman', Times, serif;

// aside
$letraaside: Georgia, 'Times New Roman', Times, serif;

// formas de envios
// aside

$pdeenvios: Georgia, 'Times New Roman', Times, serif;
$rojofm:  25px;

// contacto
// article

$fontscont: Georgia, 'Times New Roman', Times, serif;

$terminosfontfamily: Georgia, 'Times New Roman', Times, serif;

// footer todos los html
$redes6: 25px;



