.colorhead{
    background-image: $colorheadertodosloshtml;
}
.letrah1{
    position: relative;
    left: 15px;
    top: 5px;
    color: $letrah1todosloshtml ;
    font-family: $letrah1;
}


.letranav{
    color: $letranavtodosloshtml;
    font-family: $letranav;
    &:hover{
        color: $colorhovertodosloshtml;
        transition: 01s;
    }
     
}

