
// contacto!!
.contacto8{
    background-color:$headercolorscontacto8;
    border-bottom:$headercolorscontacto8;
    .cont{
        color:$headercolorsh1;
        &:hover{
            color: black;
            transition: 05s;
        }
    }
}
