// main index
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgmain{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-futurista-degradado-concepto-conexion_23-2149110796.jpg?w=826&t=st=1664246221~exp=1664246821~hmac=cb463f9247e0a453f52a9037bc3e876472e12aecc04f8fa6c3bd7d1443f537ca);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;


    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    
    
    

}

.productos{
    flex: 40%;
    padding: 20px;
    text-align: center;
    
    
}

    
    
    
   
    

.img1index{
   
    background-position: left center;
    border-radius: 30px;
    
    border: 2px solid rgb(31, 29, 29);
    width: 300px;
    height: 300px;
    transition: all 1s;
    
}

.img1index:hover{
    width: 320px;
    height: 320px;
}

.pindex2{
    
    color: rgb(253, 250, 250);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
    
    

.colorp{
    color: rgb(245, 7, 7);
    background-color: rgb(228, 226, 226);
    border-radius: 20px;
    font-size: 20px;
    
}

// tienda

.fondotiendamain{
    background-color: rgb(12, 11, 11);
}

.reducir{
    width: 1200px;
    height: 540px;
}

.tiendamain{
    text-align: center;
}

.coloroscuro{
    background-color: rgba(12, 11, 11, 0.829);
}
.colort{
    color: rgb(250, 249, 249);
    font-size: 20px;
}

@media screen and (max-width:360px) {
    .fondotiendamain{
        flex-direction: column;

    }
    .reducir{
        width: 360px;
        height: 300px;
    }
    .colort{
        font-size: 5px;
    }
    
   
    
}

.mapa{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.774);
    text-align: center;
}
.blanco{
    color: rgb(228, 232, 236);
}  

















   






