// main index

.imgmain{
   
    
    // text-align: center;
    .img1index{

        
        width: 300px;
        height: 300px;
        
    }
    
    
}
.pindex2{
    
   
    font-size: $pindex2fontsize;
    // text-align: center;
}