
/* inicio */

.pindex1{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imgmain{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    padding: 05px;
    
   
}


.img1index{
    
    
   
   

}
.pindex2{
    
    font-size: 30px;
    
    
    
}
    
    
    

 
    
    




/* productos */

.bodyproductos{
    /* background-image: url(https://img.freepik.com/foto-gratis/fondo-imagen-brillo-patron-cielo-estrellado-purpura_53876-104751.jpg?w=740&t=st=1660413307~exp=1660413907~hmac=97bd22df2c7b50a6f2ce83aeb50cbe3956a51dc376f4e15ee20501ccc2a5d6a1); */
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-formas-blancas_79603-1362.jpg?w=740&t=st=1660414600~exp=1660415200~hmac=0a95fbbf52f10c2f343cf36446ae106f6250801022f74a05ceca636cf681b07b) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: grid;
    grid-template-areas:
    "hproductos"
    "aproductos "
    "asproductos"
    "garantia"
    "pieproductos";
    grid-template-columns: 1fr;
    grid-template-rows:repeat(5, 1fr);
    height: 100vh;

}
    
   




.hproductos{
    grid-area: hproductos;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 15, 15);
}
.logop{
    width: 100px;
    height: 90px;
    border-radius: 100px;
}
   
    
.tituloproductos{
    display: flex;
    color: rgb(252, 252, 247);
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.pie2{
    display: flex;
    list-style: none;
}


.barra2{
    display: none;
    text-decoration: none;
    color: rgb(250, 245, 237);
    padding: 05px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.barra2:hover{
    color: rgb(230, 10, 10);
    padding: 8px;
}       
   

.aproductos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aproductos;
}
    
.colornegro{
    color: rgb(7, 6, 6);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.asproductos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: asproductos;
}
.imgproductos{
    width: 150px;
    height: 150px;
    padding: 07px;
    border-radius: 20px;
}


.garantia{
    grid-area: garantia;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parra2{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pieproductos{
    display: flex;
    justify-content: left;
    grid-area: pieproductos;
}
.fproductos{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
}

@media screen and ( min-width: 1100px ){
    .bodyproductos{
        /* background-image: url(https://img.freepik.com/foto-gratis/fondo-imagen-brillo-patron-cielo-estrellado-purpura_53876-104751.jpg?w=740&t=st=1660413307~exp=1660413907~hmac=97bd22df2c7b50a6f2ce83aeb50cbe3956a51dc376f4e15ee20501ccc2a5d6a1); */
        background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-formas-blancas_79603-1362.jpg?w=740&t=st=1660414600~exp=1660415200~hmac=0a95fbbf52f10c2f343cf36446ae106f6250801022f74a05ceca636cf681b07b) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        display: grid;
        grid-template-areas:
        "hproductos hproductos hproductos"
        "aproductos aproductos aproductos"
        "asproductos asproductos asproductos"
        "garantia garantia garantia"
        "pieproductos pieproductos pieproductos";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:repeat(1fr);
        height: 100vh;
    
    }
    .barra2{
        display: flex;
    }
    .imgproductos{
        width: 250px;
        height: 250px;
        padding: 07px;
        border-radius: 20px;
    }
    .tituloproductos{
        font-size: 45px;
    }
    .logop{
        width: 150px;
    height: 110px;
    border-radius: 100px;

    }
    .barra2{
        font-size: 25px;
    }

    
}




/* f.envio */

.colorfe{
  
    background-image: url(https://img.freepik.com/foto-gratis/textura-pared-estuco-azul-marino-relieve-decorativo-abstracto-grunge-fondo-color-rugoso-gran-angular_1258-28311.jpg?w=996&t=st=1659247078~exp=1659247678~hmac=77da7156a797187af4ce843732ec86e487ac1a9bb263ed6268a7452a9f475c3d);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    
   
}

.titulofm{
    background-color: rgba(14, 13, 13, 0.966);
    padding: 10px;
    border-radius: 15px;
    text-decoration: underline;
    font-size: 45px;
    color: rgb(245, 240, 240);
    font-family: 'Times New Roman', Times, serif;
    
    
}

.barrafm{
    display: inline;
    position: relative;
    left: 700px;
    bottom: 70px;
}
.icono{
    color: rgb(223, 20, 20);
    height: 60px;
    position: relative;
    left: 1250px;
    bottom: 550px;
    position: fixed;
}
   
   

    
    

.barra3{
    color: rgb(250, 248, 248);
    font-size: 25px;
    font-weight: 800;
    padding: 07px;
    
}

table{
    color: rgb(248, 241, 241);
    background-color: rgb(8, 8, 8);
    font-size: 40px;
    border: 10px solid rgb(253, 244, 244);
    position: relative;
    left: 350px;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    top: 130px;
}

tr{
    border: 10px solid rgb(247, 244, 232);
    border-radius: 15px;
}
    
    

.moto{
    position: relative;
    bottom: 200px;
    left: 50px;
    border-radius: 25px;
    border: 10px solid rgb(19, 19, 18);
}

.camioneta{
    position: relative;
    left: 740px;
    bottom: 200px;
    border-radius: 25px;
    border: 10px solid rgb(19, 19, 18);
}

.pdeenvios{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 30px;
    font-weight: 800;
    background-color: rgb(15, 15, 15);
    color: rgb(253, 250, 245);
    position: relative;
    bottom: 50px;
    border-radius: 15px;
}

.rojofm{
    color: rgb(231, 53, 53);
    font-size: 40px;
}


.textofm{
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: rgb(12, 12, 12);
    color: rgb(253, 245, 234);
    padding: 15px;
    border-radius: 15px;
}


/* formas de pago */


.fdepago{
   background-image: url(https://img.freepik.com/foto-gratis/amanecer_74190-169.jpg?w=740&t=st=1659281277~exp=1659281877~hmac=86d9fa64cf0902919427e0d440796fff32a6e111d8950ac59c59b44ee280d313);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left center;
}

.titulofdp{
    background-color: rgba(84, 84, 243, 0.568);
    padding: 15px;
    border-radius: 15px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.piefdp{
    font-size: 25px;
}

.barra4{
    color: rgb(22, 22, 22);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 07px;
    font-weight: 800;
}

.fdp{
    color: rgb(8, 8, 8);
    font-size: 50px;
    position: relative;
    bottom: 250px;
}

.tarjeta{
    position: relative;
    left: 850px;
    top: 150px;

}


.fondocontacto{
    background-color: aquamarine;
  

}

 /* contacto */

.fondocont{
    background-image: url(https://img.freepik.com/foto-gratis/joven-operador-auriculares_329181-8854.jpg?w=740&t=st=1659324930~exp=1659325530~hmac=373ce2a36910c01daef9879cb3ab0ae976e457442317892760132cc1bf6b886f);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}  

.cont{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    color: rgb(55, 109, 5);
    
    
   
}

.indice{
    
    padding: 05px;
    font-size: 17px;
    border: 3px solid rgb(22, 21, 21);
    border-radius: 15px;
    color: rgb(12, 11, 11);
    background-color: rgb(248, 252, 252);
    position: relative;
    left: 900px;
    bottom: 70px;
}

fieldset{
    border: 05px solid rgba(66, 65, 65, 0.281);
    width: 50%;
}

label{
    color: rgb(7, 7, 7);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20PX;

}
 .final{
    text-align: center;
    font-size: 35px;
   

    font-family: 'Source Sans Pro', sans-serif;
 }
 /* bootstrap */

 .letrah1{
    color: rgb(5, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .letranav{
    color: rgb(5, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.letranav:hover{
    color: rgb(243, 7, 7);
}

.colorhead{
    background-image: linear-gradient( to top, rgb(194, 189, 189),rgb(231, 225, 225),rgb(219, 219, 101),rgb(20, 65, 20));
}

.redes6{
    font-size: 25px;
    padding: 05px;
}
.redes6:hover{
    color: rgb(243, 13, 13);
}







    
    


 
   


    
  


    


    
    
    

    
    
     


   


   



    
    








 



    
    

   
   




    



    
    


       

    


    

   
    







    
    
    

    













    










    








 
    
    
     
    

        
    
        
        
        
    
    
    

    
    
    
    
    

    
   
   


   


    



    
    


    



   



    

    


   


  
    
   






    
        
    


    
    





    


 
    



   
    

    
    
    
    










    
    
    
    
   






    
    


