


@import "./partials/colors","./partials/fonts","./partials/header","./partials/footer","./partials/article","./partials/main","./partials/aside";





// formas de pago


@media screen and (min-width:360px) {
    .fdp{
        flex-direction: column;

    }
    .asidefdp{
        flex-direction: column;
        
    }
    
} 

@media screen and (min-width:800px) {
    .fdp{
        flex-direction: row;

    }
    .asidefdp{
        flex-direction: row;
        
    }
    
} 




// formas de envios

@media screen and (min-width:360px) {
    .flexfde{
        flex-direction: column;

    }
    .asidefde{
        flex-direction: column;
        
    }
    .imgfde{
        padding: 10px;
    }
    
} 

@media screen and (min-width:800px) {
    .flexfde{
        flex-direction: row;

    }
    .asidefde{
        flex-direction: row;
        
    }
    
} 

.bodyindex{
    background-image: url(https://img.freepik.com/foto-gratis/configuracion-teclado-juegos-angulo-alto_52683-88572.jpg?w=360&t=st=1664225425~exp=1664226025~hmac=e355207b1035ca0249aa85c1c05e62c64e76d5a4141a739f135f9f9076d041f1);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}




 


    

   


   



   
   
    
    
    

























    
      
        
        

           
            























   
    
    
    
    
    
    