


@import "./partials/colors","./partials/fonts","./partials/header","./partials/footer","./partials/article","./partials/main","./partials/aside";





// formas de pago


@media screen and (min-width:360px) {
    .fdp{
        display: flex;
        flex-direction: column;

    }
    .asidefdp{
        flex-direction: column;
        
    }
    .encerrar{
        padding: 10px;
    }
    
} 

@media screen and (min-width:800px) {
    .fdp{
        flex-direction: row;

    }
    .asidefdp{
        flex-direction: row;
        
    }
    
} 




// formas de envios

@media screen and (min-width:360px) {
    .flexfde{
        flex-direction: column;

    }
    .asidefde{
        flex-direction: column;
        
    }
    .imgfde{
        padding: 10px;
    }
    
} 

@media screen and (min-width:800px) {
    .flexfde{
        flex-direction: row;

    }
    .asidefde{
        flex-direction: row;
        
    }
    
} 






 


    

   


   



   
   
    
    
    

























    
      
        
        

           
            























   
    
    
    
    
    
    